<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Produtos</title>
</head>
<body>
	<div>
		<form method=post action="produtos.php">
			Nome: <input type="text" name="nome"/><br/>
			Preço: <input type="double" name="preco"/><br/>
			<!--<fieldset><legend>Sexo</legend>
				<input type="radio" name="sexo" id="masc" value="homem" checked/>
				<label for="masc">Masculino</label><br/>
				<input type="radio" name="sexo" id="fem" value="mulher"/>
				<label for="fem">Feminino</label>
			</fieldset><br/>-->
			<input type="submit" value="Enviar"/>
		</form>
	</div>
	
</body>
</html>